/* OTP Section Styles */
.otp-section {
    padding: 60px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa;
}

.form-container {
    width: 100%;
    max-width: 400px;
    /* background-color: #fff; */
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 2rem;
    color: #333;
}

p {
    text-align: center;
    margin-bottom: 20px;
    color: #555;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    color: #333;
}

.submit-btn {
    width: 100%;
    padding: 10px;
    background-color: #FF4500;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: #FFA07A;
}

.resend-otp {
    text-align: center;
    margin-top: 10px;
    color: #555;
}

.resend-otp a {
    color: #FF4500;
    text-decoration: none;
}

.resend-otp a:hover {
    text-decoration: underline;
}
